
@{
    ViewData["Title"] = "GetAllEmployees";
}

@model IEnumerable< NS.EMS.Data.Entities.Employee >
<h2>Employee Details</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Contact No.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<th scope="row"></th>*@
                <td>@item.Eid</td>
                <td>@item.EmployeeName</td>
                <td>@item.Email</td>
               @* <td>@item.Department</td>*@
                <td>@item.Mobile</td>
                <td>@Html.ActionLink("EditEmployee", "EditEmployee", new { id = item.Eid })</td>
                <td>@Html.ActionLink("DeleteEmployee", "DeleteEmployee", new { id = @item.Eid })</td>
            </tr>

        }
    </tbody>
</table>

